.preview-container {
  margin-top: -10px !important;
}

.custom-box {
  display: flex;
  box-shadow: 1px 5px 10px 0px #d0e5f4 !important;

  .currency-style {
    padding-top: 20px;
    font-size: 25px;
    font-weight: bold;
  }

  .title-style {
    font-size: 22px;
  }
}

.total {
  color: white;
  background: rgb(168, 172, 255) !important;
  background: linear-gradient(90deg, rgba(168, 172, 255, 1) 0%, rgba(70, 76, 255, 1) 90%) !important;
}

.last {
  background: white;
  color: blue;
}

.congrl {
  background-color: #b2ffb2;
  padding: 10px 25px;
  font-weight: 600;

  ul {
    color: #1a20e1 !important;
    font-weight: 500;
    margin: 0;
  }
}

.text-blue {
  color: #1a20e1 !important;
}

.target-content {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;

  .col-3 {
    padding: 10px 50px 10px !important;
    margin-bottom: 1rem !important;
  }

  .target-title {
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: bold;
  }

  .target-desc {
    margin-bottom: 0;
    font-size: 13px;
  }

  .progress-bar-style {
    height: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .spent {
    font-weight: bold;
    color: black;
  }
}

.target-footer {
  color: #fff;
  padding: 0.25rem 1.5rem !important;
  font-weight: bold;
}

.achievement-box {
  padding: 0.5rem 1rem !important;
  margin-bottom: 1rem !important;
}

.achievement-title {
  margin-bottom: 2px;
  font-size: 18px;
  font-weight: bold;
}

.achievement-desc {
  margin-bottom: 0;
  font-size: 13px;
}

.achievement-cong-div {
  background-color: #1a20e1 !important;
  color: white;

  .row {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
  }

  hr {
    background-color: white;
    opacity: 1;
    height: 1px;
    margin: 0;
    padding: 0;
  }

  .spent {
    text-align: end;
    font-size: 17px;
  }

  .gain {
    text-align: end;
    font-size: 17px;
    color: #05d45e !important;
  }
}

.btn-leave {
  background-color: #c2c2c2;
  color: black;
  font-weight: bold;
  padding: 10px 50px !important;
}
