.star {
  text-align: end;
  margin: 0;
  color: #0407df;
  font-size: 30px;
}

.progress-bar-style {
  height: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.target-text {
  font-size: 11px;
}

.spent {
  font-weight: bold;
  color: #1a20e1;
}